# Node modules
node_modules/

# Build output
dist/
build/

# Local env files
# Just use simple env for everything
# .env 

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# VS Code settings
.vscode/

# Mac system files
.DS_Store

# Optional: coverage reports
coverage/

# Optional: local IDE files
.idea/
*.sublime-workspace
*.sublime-project